!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        A Brand New nanoc Site - #{@item[:title]}
      %link{:href => @items['/stylesheet/'].path, :rel => "stylesheet"}
      %script{ type: 'text/javascript', src: @items['/scripts/'].path }
      %script{ type: 'text/javascript', src: @items['/jquery/'].path }
        / you don't need to keep this, but it's cool for stats!
        %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}
  %body
    %header
      %img{:src => "/img/logo.png"}
    #wrapper.cf

      #sidebar
        %h2 API
        %ul
          %li
            = link_to_navigation 'Getting Started', '/api/index.html'
          %li
            = link_to_navigation 'Logins', '/api/logins/index.html'
          %li
            = link_to_navigation 'Courses', '/api/courses/index.html'
          %li
            = link_to_navigation 'Inventories', '/api/inventories/index.html'

      #main
        = yield

